@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lato&family=Oswald:wght@300&family=Poppins:wght@200;300&display=swap');

body{
  font-family: 'Cinzel', serif;
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
}
.btn{
  border-radius: 0px !important;
}
.card{
  background-color: #f2f2f2 !important;
  border-radius: 0px !important;
  border: none !important;
}
input.form-control {
  border-radius: 0px !important;
  height: 45px !important;
}
textarea.form-control {
  border-radius: 0px !important;  
}
select.form-control {
  border-radius: 0px !important;
  height: 45px !important;
}

.signup{
  max-width: 500px;
  margin: 0px auto;
  padding: 30px;
  margin-top: 75px;
}

